# reports/
*.csv
*.json
*.html

# portfolio
!index.html

# data/
data/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
logs/

# Airflow
airflow.db
airflow.cfg
webserver_config.py
